services:
{{range .Service}}  {{.}}{{end}}
  app:
    image: {{ .ProjectName }}:latest
    container_name: {{ .ProjectName }}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5500/"]
      interval: 10s
      timeout: 3s
      retries: 3

volumes:
{{range .Volumes}}  {{.}}:
{{end}}