{{.AppSiteAddress}} {
	reverse_proxy {{.ProjectName}}:{{.AppPort}}

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
		# Content-Security-Policy "default-src 'self'"
	}

	encode gzip zstd
}
