services:
{{range .Service}}  {{.}}
    networks:
    - {{ $.ProjectName }}_network

{{end}}
  {{.ProjectName}}:
    image: {{ .ProjectName }}:latest
    container_name: {{ .ProjectName }}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:{{ .AppPort }}/"]
      interval: 10s
      timeout: 3s
      retries: 3
    networks:
    - proxy_network
    - {{ .ProjectName }}_network
{{- if eq .Proxy "traefik" }}
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.app.rule=Host(`{{ .AppSiteAddress }}`)"
    - "traefik.http.routers.app.entrypoints=websecure"
    - "traefik.http.routers.app.tls.certresolver=mytlschallenge"
    - "traefik.http.services.app.loadbalancer.server.port=5500"

    # Security Header
    # This security header, shouldn't break anything
    - "traefik.http.middlewares.safe-headers.headers.contentTypeNosniff=true"
    - "traefik.http.middlewares.safe-headers.headers.frameDeny=true"
    - "traefik.http.middlewares.safe-headers.headers.referrerPolicy=no-referrer"

{{- if .Security }}
    # There is chance of this breaking something
    - "traefik.http.middlewares.secure-headers.headers.sslRedirect=true"
    - "traefik.http.middlewares.secure-headers.headers.stsSeconds=63072000"
    - "traefik.http.middlewares.secure-headers.headers.stsIncludeSubdomains=true"
    - "traefik.http.middlewares.secure-headers.headers.stsPreload=true"
    - "traefik.http.middlewares.secure-headers.headers.browserXssFilter=true"
    - "traefik.http.middlewares.secure-headers.headers.customResponseHeaders.Content-Security-Policy=default-src 'self'"
{{- else}} 
    # There is chance of this breaking something, enable as needed
    # - "traefik.http.middlewares.secure-headers.headers.sslRedirect=true"
    # - "traefik.http.middlewares.secure-headers.headers.stsSeconds=63072000"
    # - "traefik.http.middlewares.secure-headers.headers.stsIncludeSubdomains=true"
    # - "traefik.http.middlewares.secure-headers.headers.stsPreload=true"
    # - "traefik.http.middlewares.secure-headers.headers.browserXssFilter=true"
    # - "traefik.http.middlewares.secure-headers.headers.customResponseHeaders.Content-Security-Policy=default-src 'self'"
{{- end }}

{{- end }}

{{- if .Volumes }}
volumes:
{{- range .Volumes }}
  {{ . }}:
{{- end }}
{{- end }}

networks:
  proxy_network:
    external: true

  {{ .ProjectName }}_network:
    driver: bridge
    internal: true # blocks all external access

