- name: Update dependency cache
  ansible.builtin.apt:
    update_cache: yes
    upgrade: dist

- name: Install essential packages
  ansible.builtin.apt:
    name:
    - git
    - gnupg
    - make
    - ufw
    - curl
    - rsync
    state: present

- name: Ensure systemd-timesyncd is installed
  ansible.builtin.apt:
    name: systemd-timesyncd
    state: present
  become: true

- name: Enable timedatectl ntp
  ansible.builtin.service:
    name: systemd-timesyncd.service
    enabled: yes

- name: Configure UFW to allow SSH, HTTP, and HTTPS
  community.general.ufw:
    rule: allow
    proto: tcp
    port: '{{item}}'
  loop:
  - '80'
  - '443'
  - '22'
  tags:
    - molecule-idempotence-notest

- name: Enable UFW
  community.general.ufw:
    state: enabled

# Used in the case of if user is a root user, useful in minimal installation
# SSH by default did not permit any root login, therefore this probbaly only gonna be used during molecule testing, teehee
- name: Create a setup user
  ansible.builtin.include_tasks:
    file: setup-user.yaml
  when: ansible_user == "root" 

- name: Define deploy user variable for readability
  set_fact:
    # extracting this to a variable makes the lines below much easier to read
    deploy_user: "{{ hostvars['deploy_user'].ansible_user }}"

- name: Create a user
  ansible.builtin.user:
    name: "{{ deploy_user }}"
    create_home: yes
    # We need this to give it actual shell 
    shell: /bin/bash
    # unlock account so SSH can use pubkey auth. JUST IN CASE Pubkey only is enabled, otherwise account will be locked
    password_lock: false
    password: "!"
  register: user_info
  when: not molecule_testing  | default(false)

- name: Ensure the deploy user account is unlocked
  ansible.builtin.command:
    cmd: "passwd -d {{ deploy_user }}"
  when: not molecule_testing  | default(false)

- name: Show what was returned
  ansible.builtin.debug:
    var: user_info

- name: Ensure key directory exists.
  ansible.builtin.file:
    path: "{{ playbook_dir }}/key"
    state: directory
    mode: '0755'
  become: false
  delegate_to: localhost


- name: Generate SSH key for deploy_user
  community.crypto.openssh_keypair:
    path: "{{ playbook_dir }}/key/{{ deploy_user }}"
    type: rsa
    comment: "ansible-generated Deployment user"
    size: 2048
    mode: '0600'
  delegate_to: localhost
  become: false

- name: Deploy the generated public key to remote hosts
  ansible.posix.authorized_key:
    user: "{{ deploy_user }}"
    state: present
    key: "{{ lookup('file', playbook_dir + '/key/' + deploy_user + '.pub') }}"

- name: Check if .gitignore exists
  ansible.builtin.stat:
    path: "{{ local_project_path }}/.gitignore"
  register: gitignore_check
  delegate_to: localhost
  become: false
  when: not molecule_testing | default(false)

- name: Create .gitignore if not exist
  ansible.builtin.file:
    path: "{{ local_project_path }}/.gitignore"
    state: touch
  when:
  - not molecule_testing  | default(false)
  - not gitignore_check.stat.exists
  delegate_to: localhost
  become: false

- name: Add needed lines to .gitignore
  ansible.builtin.blockinfile:
    path: "{{ local_project_path }}/.gitignore"
    block: |
      key
      .ansible/
      app.tar
    create: yes
    marker: "# {mark} Tsukatsuki Managed Block"
  delegate_to: localhost
  become: false
  when: not molecule_testing | default(false)