caddy:
    image: {{ .DockerImage }}
    container_name: {{ .ProjectName }}_caddy
    restart: always
    volumes:
    - ./Caddyfile:/etc/caddy/Caddyfile
    - caddy_data:/data
    - caddy_config:/config
    depends_on:
      app:
        condition: service_healthy