caddy:
    image: {{ .DockerImage }}
    container_name: {{ .ProjectName }}_caddy
    restart: unless-stopped
    ports:
    - "80"
    - "443"
    volumes:
    - ./Caddyfile:/etc/caddy/Caddyfile
    - {{ .ProjectName }}_caddy_data:/data
    - {{ .ProjectName }}_caddy_config:/config
    depends_on:
      app:
        condition: service_healthy