minio:
    image: {{ .DockerImage }}
    container_name: {{ .ProjectName }}_minio
    restart: unless-stopped
    ports:
      - "9000:9000"  # api
      - "9001:9001"  # console
    volumes:
      - {{ .ProjectName }}_minio_data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 10s
      retries: 3