rabbitmq:
    image: {{ .DockerImage }}
    container_name: {{ .ProjectName }}_rabbitmq
    restart: unless-stopped
    ports:
      - "5672"
      - "15672"
    volumes:
      - {{ .ProjectName }}_rabbitmq_data:/var/lib/rabbitmq
      - {{ .ProjectName }}_rabbitmq_log:/var/log/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3