traefik:
    container_name: traefik-proxy
    image: {{ .DockerImage }}
    restart: always
    command:
    - "--api.dashboard=false"
    - "--api.debug=false"
    - "--providers.docker=true"
    - "--providers.docker.exposedbydefault=false"
    - "--entrypoints.web.address=:80"
    - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
    - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
    - "--entrypoints.websecure.forwardedHeaders.insecure=true"
    - "--entrypoints.websecure.address=:443"
    - "--certificatesresolvers.myhttp.acme.httpchallenge=true"
    - "--certificatesresolvers.myhttp.acme.httpchallenge.entrypoint=web"
    - "--certificatesresolvers.myhttp.acme.email={{ .ACMEEmail }}"
    - "--certificatesresolvers.myhttp.acme.storage=/letsencrypt/acme.json"
    - "--log.level=INFO"
    ports:
    - "80:80"
    - "443:443"
    volumes:
    - traefik_data:/letsencrypt
    - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
    - proxy_network