project_name: {{ .ProjectName }}
local_project_path: {{ .LocalPath }}
remote_project_path: {{ .RemotePath }}
generated_folder_name: {{ .OutputDir }}
ssh_key_folder_name: "key"
compose_file_name: "docker-compose.yaml"

new_ssh_port: {{ .SSHPort }}

# This will be used for testing, for now
setup_user: setup