project_name: {{ .ProjectName }}
local_project_path: {{ .LocalPath }}
remote_project_path: {{ .RemotePath }}
generated_folder_name: {{ .OutputDir }}
remote_proxy_path: /home/tsukatsuki/proxy
ssh_key_folder_name: "key"
project_compose_file_name: "project-compose.yaml"
proxy_compose_file_name: "proxy-compose.yaml"

ssh_new_port: {{ .SSHPort }}

# This will be used for testing, for now
setup_user: root